.dateRange {
	position: relative;
}

.mobileBox {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(12 20 32 / 24%);
	backdrop-filter: blur(8px);
}

.desktopBox {
	position: relative;
	display: block;
}

.fields {
	display: flex;
	width: 100%;
	gap: 2px;
}

.calendarWrapper {
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	user-select: none;
	position: absolute;
	top: 100%;
	margin-top: 3px;
	z-index: 2;
	padding: 20px 0;
	@media (max-width: 930px) {
		position: relative;
		top: 0;
		height: 90%;
		padding: 48px 0 0 0;
		width: 80%;
		background-color: #f8f4ff;
		margin: 0;
	}

	@media (min-height: 930px) {
		height: max-content;
	}

	@media (max-width: 760px) {
		width: 100%;
		border-radius: 0;
		height: 100%;
		box-shadow: none;
	}
}
